includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    level: 0
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Console\\Command::#'
    excludePaths:
        - tests
    reportUnmatchedIgnoredErrors: false
