<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Mort Automation Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_KEY" value="base64:2fl+Ktvkfl+Fuz4Qp/yTmw8q85qa8YqD" />
        <env name="DB_CONNECTION" value="testing"/>
    </php>
</phpunit>
